<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    {{>header}}
    <div class="container-fluid mt-5">
        <img src="./deer.jpg" alt="">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>Together we will Save one Future</h1>
                        <h1>One Step Away</h1>
                        <p>Education is the foundation of <span class="bold-style">health and happiness.</span> </p>
                        <button class="btn-style btn-primary"><a href="https://donate.stripe.com/test_6oE2bo6H5ch590c4gg" style="color: azure;">OneStep</a></button>
                    </div>
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="image/goooo.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- //About Us --}}
    </br></br></br></br></br></br></br></br></br>
    
    {{>about}}

</body>
</html>