<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container-fluid mt-5 about-style" id="aboutid">
        <img src="./deer.jpg" alt="">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Right Of Education</p>
                
                <div class="row">
                    <div class="col-md-6 col-12 hero-text ">
                        <figure class="me-1">
                            <img src="image/motivation 1.png" alt="">
                        </figure>
                    </div>


                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>Change Future</h1>
                        <p> OneStep is a revolution to change the literacy rate in India, during Pandemic many pepole lose their job due to this they are not able to give education to their children, the main motive of <span class="bold-style">OneStep</span> is to provide individual a fund to change future of children.
                        this change save one future , so would you like to part of us and help to make change our Nation .
                             </p>
            
                        <button class="btn-style btn-primary"><a href="https://donate.stripe.com/test_6oE2bo6H5ch590c4gg"style="color: azure;">OneStep</a></button>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

    <div>
        <figure>
            <img src="image/img2.jpg"alt="" style="width: 100%;height:80vh; opacity: 0.77;
    z-index: 2;">
            </img>
    
        </figure>
    </div>

    <br>
    <div class="container-fluid mt-5 about-style" id="serviceid">
        <img src="./deer.jpg" alt="">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Our Campaign</h1>
                <p class="text-center sub-heading">Current Available</p>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="image/school.jpg" alt="loading..">
                                </div>
                                <br>
                                <h4>SABKA HAK ABHIYAN</h4>
                                <p>728 Monthly Support</p>
                                <div style="padding:5px"class="progress ">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:80%;">
                           
                                            </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae veritatis ullam suscipit,Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                                <button class="btn-style btn-primary"><a href="https://donate.stripe.com/test_6oE2bo6H5ch590c4gg" style="color: azure; margin-top:20px">Donate</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services speedup">
                                <div class="icon">
                                    <img src="image/girl1.png" alt="loading..">
                                </div>
                                <h4>GIRLS EDUCATION SUPPORT</h4>
                                <p>224 Monthly Support</p>
                                <div style="padding:5px"class="progress ">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:70%;">
                           
                                </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae veritatis ullam suscipit,Lorem ipsum dolor sit amet consectetur etc.asertyu lorem gohu </p>
                                <button class="btn-style btn-primary"><a href="https://donate.stripe.com/test_6oE2bo6H5ch590c4gg" style="color: azure;">Donate</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services privacy">
                                <div class="icon">
                                    <img src="image/covid1.png" alt="loading..">
                                </div>
                                <h4>SARVA SIKSHA ABHIYAN</h4>
                                <p>457 Monthly Support</p>
                                <div style="padding:5px"class="progress ">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:60%;">
                           
                                </div>
                                </div>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae veritatis ullam suscipit,Lorem ipsum dolor ..</p>
                                <button class="btn-style btn-primary"><a href="https://donate.stripe.com/test_6oE2bo6H5ch590c4gg" style="color: azure;">Donate</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>             
{{>footer}}