
 <footer className="copyright" style="font-size: large;"> 
<div class="container-fluid ">
        <div class="row">
           <div class="col-md-12 col-12 mx-auto">
<h5 style="font-size:3rem; text-align:center;font-weight:bold;margin:3rem 0">Contact</h5>
                <div class="row">
                    <div class="col-md-4 col-12 "></div>
                    <ul style="text-align: center;">
                         <li>
                         <h3 style="font-weight:400; color:blue" >
                            <span><i class="bi bi-geo-alt"></i></span>
                            Address : UP,Greater Noida
                         </h3>
                         </li>
                         <li >
                         <h3 style="font-weight:400; color:blue" >
                            <span><i class="bi bi-envelope"></i></span>
                            Email : abc@gmail.com
                         </h3>
                         </li>
                         <li >
                         <h3 style="font-weight:400; color:blue">
                            <span><i class="bi bi-phone"></i></i></span>
                            Phone : +91-1234567890
                         </h3>
                         </li>
                    </ul>
                    </div>
                    </div>
        </div>
    </div>
    </div>
     <p >Copyright 2023, design and develop by Ritika Verma. All rights are reserved.</p>

    </footer>
